{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="col-md-6 offset-md-3">
    <h2 class="text-center mb-4">Login</h2>
    <!-- Botão Google -->
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-dark w-100 mb-3 py-2">
    <i class="fab fa-google me-2"></i>
        Continuar com Google
    </a>
    <form method="post">  
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <hr>
    <p class="text-center">Já tem uma conta? <a href="#register">criar conta</a></p> 
</div>
{% endblock %}